* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

input,
button,
textarea {
  background-color: #fff;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #ed6a9d;
}

.container {
  position: relative;
  width: 18rem;
  height: 18rem;
}
.container__center {
  border-radius: 50%;
  width: 18rem;
  height: 15rem;
  background-color: #050044;
  position: absolute;
  bottom: 0;
}
.container__ear-left {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-left: 3.2rem solid transparent;
  border-right: 3.2rem solid transparent;
  border-bottom: 5rem solid #050044;
  transform: translate(0.3rem, 1.2rem) rotate(89deg);
}
.container__ear-right {
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border-left: 3.2rem solid transparent;
  border-right: 3.2rem solid transparent;
  border-bottom: 5rem solid #050044;
  transform: translate(-0.3rem, 1.2rem) rotate(-89deg);
}
.container__mouth {
  position: absolute;
  bottom: 19%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-left: 1.5rem solid transparent;
  border-right: 1.5rem solid transparent;
  border-top: 1.5rem solid #ed6a9d;
}
.container__eye-left {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-25%, -50%) rotate(45deg);
  z-index: 2;
  width: 4rem;
  height: 4rem;
  background-color: #ffc100;
  border-radius: 2rem 0 2rem 0;
}
.container__eye-left::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-48deg);
  width: 1rem;
  height: 3rem;
  background-color: #050044;
  border-radius: 60% 40% 60% 40%;
}
.container__eye-right {
  position: absolute;
  top: 50%;
  right: 25%;
  transform: translate(25%, -50%) rotate(45deg);
  z-index: 2;
  width: 4rem;
  height: 4rem;
  background-color: #ffc100;
  border-radius: 2rem 0 2rem 0;
}
.container__eye-right::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-48deg);
  width: 1rem;
  height: 3rem;
  background-color: #050044;
  border-radius: 60% 40% 60% 40%;
}

.evil__cat {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  color: #050044;
  -webkit-text-stroke-color: #050044;
  -webkit-text-stroke-width: 0.2rem;
}
